/TracIn/datasets/
/TracIn/experiment1/
/TracIn/model_weights/
/TracIn/experiment2/
/TracIn/experiment3/
/TracIn/experiment4/
/TracIn/experiment5/
/TracIn/experiment6/
/TracIn/experiment7/
/TracIn/model_weights(Resnet50)/
/TracIn/experiment8/
/TracIn/experiment9/
/TracIn/experiment10/
/TracIn/experiment11/image_features_40000train.npy
/TracIn/experiment11/
/TracIn/experiment12/
